{% extends 'base.html'%}

{% block section %}

<section class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-title text-center text-primary mb-4">OTP</h3>
            <form method="POST" action="">
               {% csrf_token %}
              <div class="mb-3">
                <label class="form-label">OTP</label>
                <!-- <input type="text" name="name" class="form-control" required>  -->

                {{form.otp}}

                {% if form.otp.errors %}

                 <p style="color: red;" class="small">{{ form.otp.errors.0 }}</p>

                {% endif %}
                 
              </div>

              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary px-4">Verify OTP</button>
              </div>
                {% if msg %}

                 <p style="color: red;" class="small text-center">{{ msg }}</p>

                {% endif %}
                <p id="timer" class="text-center"></p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    let timeLeft = parseInt('{{ remaining_time|default:0 }}');
    let timerElement = document.getElementById('timer');

    function updateTimer() {
        if (timeLeft <= 0) {
            timerElement.innerHTML = `
            <a class="btn btn-primary my-2 " href='{% url 'generate-otp' %}'>Resend OTP</a>
                `;
        } else {
            let minutes = Math.floor(timeLeft / 60);
            let seconds = timeLeft % 60;
            timerElement.innerText = `Time left: ${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
            timeLeft--;
            setTimeout(updateTimer, 1000);
        }
    }

    updateTimer();
</script>


{% endblock %}