{% extends 'base.html'%}

{% block section %}

<section class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-title text-center text-primary mb-4">Change Password</h3>
            <form method="POST" action="">
               {% csrf_token %}
              <div class="mb-3">
                <label class="form-label">Password</label>
                <!-- <input type="text" name="name" class="form-control" required>  -->

                {{form.password}}

                {% if form.password.errors %}

                 <p style="color: red;" class="small">{{ form.password.errors.0 }}</p>

                {% endif %}
                 
              </div>

              <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <!-- <textarea name="description" rows="3" class="form-control" required></textarea> -->
                 {{form.confirm_password}}
                 {% if form.confirm_password.errors %}

                 <p style="color: red;" class="small">{{ form.confirm_password.errors.0 }}</p>

                 {% endif %}
              </div>
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary px-4">Submit</button>
              </div>
                {% if msg %}

                 <p style="color: red;" class="small text-center">{{ msg }}</p>

                {% endif %}

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}