{% extends 'base.html'%}

{% block section %}



<section class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-title text-center text-primary mb-4">🎂 Add a New Cake</h3>
            <form method="POST" action="" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label class="form-label">Cake Name</label>
                <!-- <input type="text" name="name" class="form-control" required>  -->
                 {{ form.name }}

                  {% if form.name.errors %}
                      <p style="color: red;" class="small">{{ form.price.name.0 }}</p>

                  {% endif %}
                 
              </div>

              <div class="mb-3">
                <label class="form-label">Description</label>
                <!-- <textarea name="description" rows="3" class="form-control" required></textarea> -->
                 {{ form.description }}
                   {% if form.description.errors %}
                      <p style="color: red;" class="small">{{ form.price.description.0 }}</p>

                    {% endif %}
              </div>

              <div class="mb-3">
                <label class="form-label">Photo</label>
                <!-- <input type="file" name="photo" class="form-control" required>  -->

                {{ form.photo }}

                {% if form.photo.errors %}

                  <p style="color: red;" class="small">{{ form.photo.errors.0 }}</p>
                {% endif %}
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="form-label">Category</label>
                  {{ form.category }}
                 <!-- <select name="category" class="form-select" required>
                    {% for category in categories %}
                    <option value="{{category.value}}">{{category.label}}</option>
                    {% endfor %}
                 
                  </select>  -->
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label">Flavour</label>
                  {{ form.flavour }}
                  <!-- <select name="flavour" class="form-select" required>
                    {% for flavour in flavours %}
                    <option value="{{flavour.value}}">{{flavour.label}}</option>
                    {% endfor %}
                 
                  </select>  -->
                    {% if form.flavour.errors %}
                      <p style="color: red;" class="small">{{ form.flavour.errors.0 }}</p>

                    {% endif %}
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label">Shape</label>
                  {{ form.shape }}
                    {% if form.shape.errors %}
                      <p style="color: red;" class="small">{{ form.shape.errors.0 }}</p>

                    {% endif %}
                   
                  <!-- <select name="shape" class="form-select" required>
                    {% for shape in shapes %}
                    <option value="{{shape.value}}">{{shape.label}}</option>
                    {% endfor %}
                 
                    
                  </select>  -->
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label">Weight</label>
                  {{ form.weight }}
                    {% if form.weight.errors %}
                      <p style="color: red;" class="small">{{ form.weight.errors.0 }}</p>

                    {% endif %}
                   
                  <!-- <select name="weight" class="form-select" required>
                    {% for weight in weights %}
                    <option value="{{weight.value}}">{{weight.label}}</option>
                    {% endfor %}
                 
                  </select>  -->
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label">Egg Added</label> 
                  {% for radio in form.egg_added %}
                  <div class="form-check form-check-inline">  
                    {{ radio.tag }}
                    <!-- <input class="form-check-input" value="True" type="radio" name="egg_added">  -->
                    <label class="form-check-label" for="">{{ radio.choice_label }}</label>
                  </div>
                  {% endfor %}
                    {% if form.egg_added.errors %}
                      <p style="color: red;" class="small">{{ form.egg_added.errors.0 }}</p>

                    {% endif %}
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label">Availability</label> 
                  {% for radio in form.is_available %}
                  <div class="form-check form-check-inline">  
                    {{ radio.tag }}
                    <!-- <input class="form-check-input" value="True" type="radio" name="is_available">  -->
                    <label class="form-check-label" for="">{{ radio.choice_label }}</label>
                  </div>
                  {% endfor %}
                    {% if form.is_available.errors %}
                      <p style="color: red;" class="small">{{ form.is_available.errors.0 }}</p>

                    {% endif %}
                 
                   
                </div>

              <div class="col-md-6 mb-3">
                  <label class="form-label">Price</label>
                   <!-- <input type="text" name="price" class="form-control" required>  -->
                    {{ form.price }}

                    {% if form.price.errors %}
                      <p style="color: red;" class="small">{{ form.price.errors.0 }}</p>

                    {% endif %}
                </div>
              </div>
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary px-4">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}